body {
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  justify-content: evenly;
  padding-block: 1rem;
  padding-inline: 2rem;
  gap: 6rem;
}

main > div {
  display: flex;
  flex-direction: column;
}

button {
  border-width: 2px;
  border-style: solid;
  border-radius: 0.4rem !important;
  border-color: gray;
  font-size: 0.8rem;
  cursor: pointer;
  flex-shrink: 0;
  height: fit-content;
  line-height: 1rem;
}

button:hover {
  background-color: hsla(200, 100%, 87%, 1);
  border-color: hsla(200, 100%, 68%, 1);
}

.nav {
  display: flex;
  align-items: center;
}

#navbar__school-name {
  font-size: 1.2rem;
}

.nav-item {
  font-size: 0.8em;
}

#search-logout {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

#search__form {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
#search__input {
  height: 2rem;
  font-size: 0.8rem;
}

#search__button {
  font-size: 0.8rem;
  padding: 0.3rem;
}

#logout__button {
  display: flex;
  padding: 0.3rem;
}

#logout__button a {
  font-size: 0.8rem;
  text-decoration: none;
}

/* Guardian */
#guardian {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#guardian__name-verification {
  display: flex;
  flex-direction: column;
}

#guardian__verification span {
  font-weight: bold;
  color: green;
}

#guardian__details {
  display: flex;
  flex-direction: column;
}

#guardian__actions {
}

/* Children & Actions */
#children-actions {
  display: flex;
  gap: 3rem;
}

/* Children */
.children__child {
  width: 100%;
  display: flex;
}

.children__child-body {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 4rem;
}

.children__child-body a {
  height: fit-content;
  flex-shrink: 0;
}
/* Actions */

#actions {
  padding: 2rem;
}

#actions__button-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
}
