.card{
    width: 300px;
    height: 500px;
    background-color: aquamarine;
}
.a {
    float: left;
}

body {
    background-color: red;
}
.album {
    float: right;
    
}

header {
    display: flex;
    justify-content: start;
}